.main_header
    background-color: colors.accent
    padding-top: 15px
    .logo
        img
            height 60px;
    .languge
        padding-top: 20px
        select.input 
            height auto
            background-color: rgba(255,255,255,0.5)
            border: none
            padding: 5px
            font-size: 10px
    .header_nav
        margin-top: 20px;
        li
            float right
            margin-left: 30px
            a
                color: colors.white
                display inline-block
                padding: 7px 10px 7px 15px
                border-right: 5px solid #000
                transition: all .3s
                &:hover
                    border-color: #ef6822
                    background-color rgba(255,255,255,.4)
.main_nav
    background-color: #2c2c2c
    li
        float right
        a
            padding: 12px 10px 10px 10px;
            display: inline-block;
            color: colors.white;
            margin-left: 20px;
            border-bottom: 5px solid #2c2c2c
            transition: all .3s
            &:hover
                border-color: colors.basic
.header_nav_responsive
    a.menu_btn
        border: none 
        outline: none
        background-color: transparent
        background-image: url(../img/menu.png)
        cursor pointer
        background-size: 15px;
        display: inline-block;
        width: 15px;
        height: 15px;
        
    ul
        display none
        position fixed;
        right 0
        left 0
        top: 0
        bottom: 0
        background-color rgba(0,0,0,.9)
        z-index 1;
        padding: 30px;
        li
            text-align: center
            float: none
            a   
                color: #fff
                padding: 15px;
                padding-right: 0 
                padding-left: 0
                display block
                border:none
                &:hover
                    background-color: #ffffff
                    color: #000
                  
                    

@media only screen and (max-width: 3650px){
  .column_large_hidden {
    display: none;
  }
} 